[submodule "jsorolla"]
	path = lib/jsorolla
	url = https://github.com/opencb/jsorolla.git
[submodule "lib/EBI-Framework"]
	path = lib/EBI-Framework
	url = https://github.com/ebiwd/EBI-Framework.git
	branch = v1.1
